# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/

# PyInstaller
dist/
*.spec

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
/staticfiles/
/static/

# Local development environment
.env
.env.*
*.env

# VSCode
.vscode/

# MacOS
.DS_Store

# IDEs
.idea/
*.iml

# Testing
.coverage
.tox/
.nox/
.pytest_cache/
.cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Celery
celerybeat-schedule
celerybeat.pid

# Other
*.swp
*.swo
~*

# Windows
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
$RECYCLE.BIN/

# Pycharm
*.idea/
*.py[cod]
__pycache__/
out/

# Local settings
local_settings.py

# Git
*.orig